<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{title}} | Index</title>
    <link href="{{request.static_url('project:static/css/style.css')}}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{request.static_url('project:static/css/bootstrap.min.css')}}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{request.static_url('project:static/css/bootstrap-theme.min.css')}}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{request.static_url('project:static/js/bootstrap.min.js')}}"></script>
</head>
<body>
    <div class="titlebox jumbotron text-center">
        <h1>{{title}}</h1>
    </div>
    <br>
    <nav>
        <a href="{{request.route_url('insert')}}"> Adicionar post </a>
    </nav>
    <div>{%block content%}{%endblock%}</div>
</body>
</html>