<form method="post">
  Title:<br>
  <input type="text" name="title"><p>
  Author:<br>
  <input type="text" name="author"><p>
  <input type="submit" value="Submit">

  {%if Success%}
  <p> Adicionado com sucesso
  {%endif%}
</form>